// DEPENDENCIES
$brand-primary: #F44336;
$font-family-sans-serif: Poppins, "Helvetica Neue", Helvetica, Arial, sans-serif;

@import "https://fonts.googleapis.com/css?family=Poppins:400,300,500,600,700";
@import "https://api.mapbox.com/mapbox.js/v2.2.2/mapbox.css";
@import "bootstrap";
@import "bourbon";

// MIXINS
@import "mixins/z_index";
@import "mixins/cover_background";

// COMMON
@import "common/variables";
@import "common/icons";

// OBJECTS
@import "objects/map.icons";
@import "objects/buttons";

// COMPONENTS
@import "components/search.header";
@import "components/search.map";
@import "components/user.menu";
@import "components/map.content";
@import "components/profile";
@import "components/sessions";
@import "components/row_form_group";

// PAGES
@import "pages/onboarding";

body, html {
  height: 100%;
}

p {
  font-size: 12px;
  color: $gray;
  line-height: 19px;
}

.label {
  font-weight: 100;
  margin: 0 8px 3px 0;
}

.label-border-blue {
  padding-bottom: .1em;
  background: transparent;
  border: 1px solid $blue;
  color: $blue
}