APP_ENV=local
APP_DEBUG=true
APP_KEY=bn2XbLpqT1vNsU9CZz38NJMisTJWHO2w

DB_HOST=localhost
DB_DATABASE=homestead
DB_USERNAME=homestead
DB_PASSWORD=secret

CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync

MAIL_DRIVER=smtp
MAIL_HOST=mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null

JWT_SECRET=t6Aqq1PhphT8RURRN5pebMwgtH5BD1A8
JWT_TTL=60

API_PREFIX=api
