---
parser: babel-eslint

plugins:
  - react

env:
  browser: true
  node: true
  commonjs: true
  mocha: true
  jquery: true

extends: eslint:recommended

ecmaFeatures:
  jsx: true
  experimentalObjectRestSpread: true

globals:
  React: true
  aliada: true
  Conekta: true
  Stripe: true
  _: true
  vex: true
  expect: true

rules:
  strict: [2, global]
  indent: [2, 2]
  quotes: [2, single, avoid-escape]
  linebreak-style: [2, unix]
  semi: [2, always]
  camelcase: 2
  dot-notation: 2
  dot-location: [2, property]
  space-after-keywords: 2
  no-floating-decimal: 2
  no-spaced-func: 2