.search-details {
  position: fixed;
  z-index: z(search-details);
  top: $search-header-height + 20px;
  left: 20px;
  width: 350px;
  background: $white;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.15);
  border-radius: $radius + 1px;

  &__main {
    padding: 15px;

    h6 {
      margin: 0;
      font-size: 12px;
      color: $dark-gray;
    }
  }
}

.search-filters {
  border-top: 1px solid $separator;
  @include clearfix;

  &__filter {
    padding: 10px;
    display: block;
    width: 100/3*1%;
    float: left;
    text-align: center;
    font-size: 12px;
    color: $gray;
    line-height: 19px;
    border-left: 1px solid $separator;
    font-weight: 500;
    text-decoration: none;

    .span {
      padding-right: 2px;
    }

    &:first-child {
      border-right: 0;
      border-radius: 0 0 0 $radius;
    }

    &:last-child {
      border-radius: 0 0 $radius 0;
    }

    &:focus {
      text-decoration: none;
    }

    &:hover {
      text-decoration: none;
      color: $red;
    }

    &.active {
      color: $red;
      background: $gray-background;
      box-shadow: inset 0px -2px 0px 0px #F44336;
    }
  }
}

.search-results {
  z-index: z(map-content);
  position: fixed;
  left: 20px;
  top: $search-header-height + 20px + 80px;
  width: 350px;
  max-height: 85%;
  overflow-y: scroll;
  padding-bottom: 40px;

  &__item {
    margin-top: 10px;
    background: $white;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.15);
    border-radius: $radius;

    &__main {
      display: block;
      padding: 15px;
      border-radius: $radius $radius 0 0;
      @include clearfix;

      &:focus {
        text-decoration: none;
      }

      &:hover {
        background: $gray-background;
        text-decoration: none;
      }
    }

    &__picture {
      width: 70px;
      height: 70px;
      float: left;
      @include cover-background;
    }

    &__desc {
      padding-left: 85px;

      h5 {
        margin: 0;
        font-weight: 500;
        font-size: 16px;
        color: $black;
        line-height: 26px;
      }

      p {
        margin: 0;
        font-size: 12px;
        color: $gray;
        line-height: 20px;
      }
    }
  }
}