@font-face {
  font-family: "IconFont";
  src: url('/assets/IconFont.eot');
  src: url('/assets/IconFont.eot?#iefix') format('eot'),
    url('/assets/IconFont.woff') format('woff'),
    url('/assets/IconFont.ttf') format('truetype'),
    url('/assets/IconFont.svg#IconFont') format('svg');
}

@mixin icon-styles {
  font-family: "IconFont";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  // speak: none; // only necessary if not using the private unicode range (firstGlyph option)
  text-decoration: none;
  text-transform: none;
  vertical-align: middle;
}

%icon {
  @include icon-styles;
}

@function icon-char($filename) {
  $char: "";

  @if $filename == academy {
    $char: "\E001";
  }
  @if $filename == anchor {
    $char: "\E002";
  }
  @if $filename == arrow-left {
    $char: "\E003";
  }
  @if $filename == arrow-right {
    $char: "\E004";
  }
  @if $filename == bell {
    $char: "\E005";
  }
  @if $filename == bolt {
    $char: "\E006";
  }
  @if $filename == event {
    $char: "\E007";
  }
  @if $filename == foundation {
    $char: "\E008";
  }
  @if $filename == gov {
    $char: "\E009";
  }
  @if $filename == inbox {
    $char: "\E00A";
  }
  @if $filename == incubator {
    $char: "\E00B";
  }
  @if $filename == info {
    $char: "\E00C";
  }
  @if $filename == key-outline {
    $char: "\E00D";
  }
  @if $filename == linkedin {
    $char: "\E00E";
  }
  @if $filename == location {
    $char: "\E00F";
  }
  @if $filename == logo {
    $char: "\E010";
  }
  @if $filename == long-arrow-left {
    $char: "\E011";
  }
  @if $filename == magnifier {
    $char: "\E012";
  }
  @if $filename == message {
    $char: "\E013";
  }
  @if $filename == plus {
    $char: "\E014";
  }
  @if $filename == star {
    $char: "\E015";
  }
  @if $filename == twitter {
    $char: "\E016";
  }
  @if $filename == user-outline {
    $char: "\E017";
  }
  @if $filename == vcfund {
    $char: "\E018";
  }

  @return $char;
}

@mixin icon($filename, $insert: before, $extend: true) {
  &:#{$insert} {
    @if $extend {
      @extend %icon;
    } @else {
      @include icon-styles;
    }
    content: icon-char($filename);
  }
}

.icon-academy {
  @include icon(academy);
}
.icon-anchor {
  @include icon(anchor);
}
.icon-arrow-left {
  @include icon(arrow-left);
}
.icon-arrow-right {
  @include icon(arrow-right);
}
.icon-bell {
  @include icon(bell);
}
.icon-bolt {
  @include icon(bolt);
}
.icon-event {
  @include icon(event);
}
.icon-foundation {
  @include icon(foundation);
}
.icon-gov {
  @include icon(gov);
}
.icon-inbox {
  @include icon(inbox);
}
.icon-incubator {
  @include icon(incubator);
}
.icon-info {
  @include icon(info);
}
.icon-key-outline {
  @include icon(key-outline);
}
.icon-linkedin {
  @include icon(linkedin);
}
.icon-location {
  @include icon(location);
}
.icon-logo {
  @include icon(logo);
}
.icon-long-arrow-left {
  @include icon(long-arrow-left);
}
.icon-magnifier {
  @include icon(magnifier);
}
.icon-message {
  @include icon(message);
}
.icon-plus {
  @include icon(plus);
}
.icon-star {
  @include icon(star);
}
.icon-twitter {
  @include icon(twitter);
}
.icon-user-outline {
  @include icon(user-outline);
}
.icon-vcfund {
  @include icon(vcfund);
}