@font-face {
  font-family: "IconFont";
  src: url('/assets/IconFont.eot');
  src: url('/assets/IconFont.eot?#iefix') format('eot'),
    url('/assets/IconFont.woff') format('woff'),
    url('/assets/IconFont.ttf') format('truetype'),
    url('/assets/IconFont.svg#IconFont') format('svg');
}

@mixin icon-styles {
  font-family: "IconFont";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  // speak: none; // only necessary if not using the private unicode range (firstGlyph option)
  text-decoration: none;
  text-transform: none;
  vertical-align: middle;
}

%icon {
  @include icon-styles;
}

@function icon-char($filename) {
  $char: "";

  @if $filename == aliada-lady {
    $char: "\E001";
  }

  @return $char;
}

@mixin icon($filename, $insert: before, $extend: true) {
  &:#{$insert} {
    @if $extend {
      @extend %icon;
    } @else {
      @include icon-styles;
    }
    content: icon-char($filename);
  }
}

.icon-aliada-lady {
  @include icon(aliada-lady);
}