@font-face {
  font-family: "IconFont";
  src: url('/assets/IconFont.eot');
  src: url('/assets/IconFont.eot?#iefix') format('eot'),
    url('/assets/IconFont.woff') format('woff'),
    url('/assets/IconFont.ttf') format('truetype'),
    url('/assets/IconFont.svg#IconFont') format('svg');
}

@mixin icon-styles {
  font-family: "IconFont";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  // speak: none; // only necessary if not using the private unicode range (firstGlyph option)
  text-decoration: none;
  text-transform: none;
  vertical-align: middle;
}

%icon {
  @include icon-styles;
}

@function icon-char($filename) {
  $char: "";

  @if $filename == academy {
    $char: "\E001";
  }
  @if $filename == arrow-left {
    $char: "\E002";
  }
  @if $filename == arrow-right {
    $char: "\E003";
  }
  @if $filename == bolt {
    $char: "\E004";
  }
  @if $filename == event {
    $char: "\E005";
  }
  @if $filename == foundation {
    $char: "\E006";
  }
  @if $filename == gov {
    $char: "\E007";
  }
  @if $filename == incubator {
    $char: "\E008";
  }
  @if $filename == info {
    $char: "\E009";
  }
  @if $filename == location {
    $char: "\E00A";
  }
  @if $filename == magnifier {
    $char: "\E00B";
  }
  @if $filename == message {
    $char: "\E00C";
  }
  @if $filename == plus {
    $char: "\E00D";
  }
  @if $filename == star {
    $char: "\E00E";
  }
  @if $filename == vcfund {
    $char: "\E00F";
  }

  @return $char;
}

@mixin icon($filename, $insert: before, $extend: true) {
  &:#{$insert} {
    @if $extend {
      @extend %icon;
    } @else {
      @include icon-styles;
    }
    content: icon-char($filename);
  }
}

.icon-academy {
  @include icon(academy);
}
.icon-arrow-left {
  @include icon(arrow-left);
}
.icon-arrow-right {
  @include icon(arrow-right);
}
.icon-bolt {
  @include icon(bolt);
}
.icon-event {
  @include icon(event);
}
.icon-foundation {
  @include icon(foundation);
}
.icon-gov {
  @include icon(gov);
}
.icon-incubator {
  @include icon(incubator);
}
.icon-info {
  @include icon(info);
}
.icon-location {
  @include icon(location);
}
.icon-magnifier {
  @include icon(magnifier);
}
.icon-message {
  @include icon(message);
}
.icon-plus {
  @include icon(plus);
}
.icon-star {
  @include icon(star);
}
.icon-vcfund {
  @include icon(vcfund);
}