// COLORS
$red: #F44336;
$white: #ffffff;
$black: #000000;
$dark-gray: #4A4A4A;
$gray: #9B9B9B;
$gray-background: #F8F8F8;
$separator: #E0E0E0;
$gov: #35FF65;
$incubator: #047878;
$vcfund: #FFB733;
$foundation: #C22121;
$academy: #F57336;
$event: #4B60A1;

$radius: 3px;
$search-header-height: 60px;