<div class="line-tabs">
  <a href="" class="line-tabs__tab" ng-click="vm.showFollowers()" ng-class="{active: vm.currentTab === 'followers'}">
    <stong>{{vm.networkCount.followers}}</stong> Seguidores
  </a>
  <a href="" class="line-tabs__tab" ng-click="vm.showFollowing()" ng-class="{active: vm.currentTab === 'following'}">
    <stong>{{vm.networkCount.following}}</stong> Seguiendo
  </a>
</div>
<div class="profile-network">
  <div class="user-card" ng-repeat="user in vm.followers" ng-if="vm.currentTab === 'followers'">
    <div class="user-card__picture" style="background-image: url({{user.picture_url}});"></div>
    <div class="user-card__main">
      <h5>{{user.name}}</h5>
      <div class="user-card__actions">
        <a href="">
          <span class="icon-plus"></span> Agregar
        </a>
        <a href="">
          <span class="icon-message"></span> Mensaje
        </a>
        <a href="">
          <span class="icon-info"></span> Perfil
        </a>
      </div>
    </div>
  </div>

  <div class="user-card" ng-repeat="user in vm.following" ng-if="vm.currentTab === 'following'">
    <div class="user-card__picture" style="background-image: url({{user.picture_url}});"></div>
    <div class="user-card__main">
      <h5>{{user.name}}</h5>
      <div class="user-card__actions">
        <a href="">
          <span class="icon-plus"></span> Agregar
        </a>
        <a href="">
          <span class="icon-message"></span> Mensaje
        </a>
        <a href="">
          <span class="icon-info"></span> Perfil
        </a>
      </div>
    </div>
  </div>
</div>